<script>
    export let type = "success";

    export let classes = "p-3 rounded-lg";

    export let dataCy = `alert ${type}`;

    const typeClasses = () => {
        switch (type) {
            case "success":
                return "bg-green-500 text-white";
            case "warning":
                return "bg-yellow-500 text-white";
            case "error":
                return "bg-red-500 text-white";
            case "info":
                return "bg-blue-200";
        }
    };
</script>

<div class="block {typeClasses()} {classes}" data-cy={dataCy}>
    <slot />
</div>
