<script>
    export let path = [];
    export let padding = "p-4";
    export let background = "bg-gray-100";
    export let colorfulIcons = true;
    export let showCurrentFile = true;
</script>

<div class="breadcrumb {padding} {background} rounded-md" data-cy="breadcrumb">
    <a href="/"
        ><p class="fa fa-home text-md {colorfulIcons ? 'text-blue-500' : ''}" />
        Home</a
    >
    <p class="inline-block mx-1">/</p>

    {#each path as entry, i}
        {#if entry.type === "folder"}
            {#if entry.icon}
                <img
                    src={entry.icon}
                    class="inline-block w-3 h-3"
                    alt={entry.name}
                />
            {:else}
                <p
                    class="fa fa-folder text-md {colorfulIcons
                        ? 'text-yellow-500'
                        : ''}"
                />
            {/if}
        {:else if entry.fileType === "video"}
            <p
                class="fa fa-film text-md {colorfulIcons ? 'text-red-500' : ''}"
            />
        {:else if entry.fileType === "audio"}
            <p
                class="fa fa-music text-md {colorfulIcons
                    ? 'text-red-500'
                    : ''}"
            />
        {:else if entry.fileType === "playlist"}
            <p
                class="fa fa-list-ol text-md {colorfulIcons
                    ? 'text-red-500'
                    : ''}"
            />
        {:else if entry.fileType === "image"}
            <img
                src={entry.icon}
                class="inline-block w-3 h-3"
                alt={entry.name}
            />
        {:else if entry.type === "collection"}
            <p
                class="fa fa-swatchbook text-md {colorfulIcons
                    ? 'text-yellow-500'
                    : ''}"
                data-cy="item-icon"
            />
        {:else}
            <p
                class="fa fa-question text-md {colorfulIcons
                    ? 'text-gray-500'
                    : ''}"
            />
        {/if}

        {#if i === path.length - 1}
            {#if showCurrentFile}
                {entry.name}
            {/if}
        {:else}
            <a href={"/b" + entry.path}>{entry.name}</a>
            <p class="inline-block ml-1 mr-2">/</p>
        {/if}
    {/each}
</div>
