<script>
    import { createEventDispatcher } from "svelte";

    export let classes =
        "inline-block py-2 px-4 text-center text-white rounded-xl transition duration-200 ease-in-out outline-none cursor-pointer hover:shadow-xl";
    export let href = null;
    export let target = null;
    export let download = null;
    export let text = null;
    export let title = null;
    export let disabled = false;

    export let dataCy = "button";
    export let moreClasses = "";
    export let background =
        "bg-gradient-to-r from-blue-700 to-blue-400 hover:from-blue-900 hover:to-blue-600";

    const dispatch = createEventDispatcher();
</script>

<a
    class="{classes} {background} {moreClasses} {disabled
        ? 'opacity-50 cursor-not-allowed'
        : ''}"
    {href}
    {target}
    {download}
    {title}
    on:click|stopPropagation|preventDefault={(e) => {
        if (!disabled) {
            dispatch("click", e);
        }
    }}
    data-cy={dataCy}
>
    {#if text}
        {text}
    {:else}
        <slot />
    {/if}
</a>
