<script>
    export let title = null;
    export let icon = null;

    export let cardClasses = "p-8 m-4 bg-gray-100 rounded-xl";
    export let titleClasses = "inline-block text-4xl text-shadow-md";
</script>

<div class={cardClasses} data-cy="card">
    {#if icon}
        <p class="{icon} {titleClasses} mr-4" />
    {/if}

    {#if title}
        <p class={titleClasses}>{title}</p>
    {/if}

    <slot />
</div>
