<script>
    import { createEventDispatcher } from "svelte";

    export let title = null;
    export let closable = true;
    // export let draggable = true;
    // export let resizable = true;
    export let modal = false;
    export let moreDialogClasses = null;
    export let dataCy = null;

    const dispatch = createEventDispatcher();
</script>

{#if modal}
    <div
        class="fixed top-0 left-0 w-full h-full bg-gray-500 bg-opacity-75 z-20"
        data-cy="modal {dataCy}"
    />
{/if}

<div class="fixed top-0 flex w-screen h-screen z-20">
    <div
        class="m-auto block bg-white max-h-screen {moreDialogClasses}"
        data-cy="dialog {dataCy}"
    >
        <div class="flex bg-blue-500 text-white items-center" data-cy="header">
            <div class="flex-1 py-1 px-2 text-center" data-cy="title">
                {#if title}
                    {title}
                {/if}
            </div>
            <div class="flex-2 py-1 px-2 text-center" data-cy="actions">
                {#if closable}
                    <button
                        class="px-2 py-1 rounded-lg bg-blue-700 cursor-pointer"
                        data-cy="button close"
                        on:click={() => dispatch("close")}
                    >
                        <p class="fa fa-times" />
                    </button>
                {/if}
            </div>
        </div>

        <div class="block overflow-y-visible" data-cy="content">
            <slot />
        </div>
    </div>
</div>
