<script>
    import { page } from '@inertiajs/svelte';
    import DropDown from "./DropDown/DropDown.svelte";
    import DropDownItem from "./DropDown/DropDownItem.svelte";
    import DropDownSeparator from "./DropDown/DropDownSeparator.svelte";

    export let title = $page.props.mslAppName;
    export let user = $page.props.user;
    export let home = false;

    const dropDown = {
        opened: false,
        id: null,
        width: null,
        leftOrRight: "left",
        position: {
            x: 10,
            y: 20,
        },
    };

    const openCloseDropDown = (event, id) => {
        if (dropDown.opened) {
            dropDown.opened = false;
            dropDown.id = null;
        } else {
            dropDown.opened = true;
            dropDown.id = id;

            const target = event.target.parentNode;
            const { width, left, right } = target.getBoundingClientRect();

            if (dropDown.id === "user") {
                dropDown.leftOrRight = "right";
                dropDown.position.x = document.body.clientWidth - left - width;
            }

            dropDown.position.y = target.offsetTop + target.offsetHeight;
            dropDown.width = width;
        }
    };
</script>

<div
    class="main-header space-y-4 md:space-y-0 md:flex items-center p-4 text-center bg-gradient-to-r from-blue-700 to-blue-400 text-white"
    data-cy="header"
    data-hide-when-in-full-screen
>
    <div class="flex-2 md:flex space-x-4">
        {#if home}
            <a href="/home" class="home flex items-center space-x-2">
                <p class="flex-2 fa fa-home" />
                <p class="flex-1">Home</p>
            </a>
        {/if}

        <slot name="left-side" />
    </div>

    <h1 class="text-3xl flex-1 font-light text-ellipsis overflow-hidden whitespace-nowrap">{title}</h1>

    <div class="flex-2 md:flex space-x-4">
        <slot name="right-side" />

        {#if user}
            <a
                href="#u"
                class="user flex items-center space-x-2"
                on:click|preventDefault|stopPropagation={(e) =>
                    openCloseDropDown(e, "user")}
            >
                <img
                    src={user.profile_picture_themed}
                    alt="Avatar"
                    class="w-8 h-8 rounded-full shadow-lg flex-2"
                />
                <p class="flex-1">{user.name}</p>
                <p class="flex-2 fas fa-angle-down mt-1" />
            </a>
        {/if}
    </div>
</div>

{#if dropDown.opened}
    <DropDown
        id={dropDown.id}
        position={dropDown.position}
        width={dropDown.width}
        leftOrRight={dropDown.leftOrRight}
    >
        {#if dropDown.id === "user"}
            <DropDownItem href="/settings">
                <div slot="icon" class="fa fa-cog" />
                <div slot="text">Settings</div>
            </DropDownItem>
            <DropDownSeparator />
            <DropDownItem href="/logout">
                <div slot="icon" class="fa fa-sign-out-alt" />
                <div slot="text">Logout</div>
            </DropDownItem>
        {/if}
    </DropDown>
{/if}
