<script>
    import { page } from '@inertiajs/svelte';
    import axios from "redaxios";

    import Header from "./components/Header.svelte";
    import Button from "./components/Button.svelte";
    import Breadcrumb from "./components/Breadcrumb.svelte";
    import TitleView from "./components/Explorer/TitleView.svelte";
    import Dialog from "./components/Dialog.svelte";
    import Alert from "./components/Alert.svelte";

    const breadcrumb = $page.props.breadcrumb;
    const collection = $page.props.collection;

    let dialog = null;
    let renameText = null;

    let renameCollectionProcess = { status: "waiting", error: null };
    let deleteCollectionProcess = { status: "waiting", error: null };

    const rename = () => {
        if (renameCollectionProcess.status !== "loading") {
            renameCollectionProcess = { status: "loading" };

            axios
                .patch(`/api/collections/${collection.id}`, {
                    name: renameText,
                })
                .then(({ data }) => {
                    if (data.data.status === "renamed") {
                        collection.name = renameText;
                        breadcrumb[0].name = renameText;
                        dialog = null;
                        renameCollectionProcess.error = null;
                    } else if (data.data.status === "error") {
                        switch (data.data.error) {
                            case "empty-name":
                                renameCollectionProcess.error =
                                    "Collection name can't be empty!";
                                break;
                            case "already-exists":
                                renameCollectionProcess.error =
                                    "A collection with this name already exists. Try another one.";
                                break;
                            default:
                                renameCollectionProcess.error =
                                    "Unknown error.";
                        }
                    }
                })
                .catch(() => {
                    renameCollectionProcess.error = "Server error. Check logs.";
                })
                .finally(() => (renameCollectionProcess.status = "waiting"));
        }
    };

    const deleteCol = () => {
        if (deleteCollectionProcess.status !== "loading") {
            deleteCollectionProcess = { status: "loading" };

            axios
                .delete(`/api/collections/${collection.id}`, {
                    name: renameText,
                })
                .then(() => {
                    dialog = null;
                    window.location.href = "/home";
                })
                .catch(() => {
                    deleteCollectionProcess.error = "Server error. Check logs.";
                })
                .finally(() => (deleteCollectionProcess.status = "waiting"));
        }
    };
</script>

<svelte:head>
    <title>{collection.name} - {$page.props.mslAppName}</title>
</svelte:head>

<div class="antialiased">
    <Header title={collection.name} />

    {#if dialog === "rename"}
        <Dialog
            title="Rename"
            modal={true}
            on:close={() => {
                dialog = null;
                renameText = null;
            }}
        >
            <div class="p-3">
                <div class="flex items-center">
                    <div class="flex-1 mr-2">
                        <input
                            type="text"
                            data-cy="collection rename"
                            placeholder="New collection name..."
                            class="block w-full m-1 py-2 px-2 rounded-lg border border-gray-500 text-black text-center focus:online-none"
                            bind:value={renameText}
                        />
                    </div>
                    <div class="flex-2">
                        <Button
                            dataCy="button do-rename"
                            on:click={() => rename()}
                        >
                            {#if renameCollectionProcess.status === "waiting"}
                                <p class="fa fa-pencil-alt mr-2" />
                                Rename
                            {:else}
                                <p class="fa fa-spinner animate-spin mr-0.5" />
                                Renaming...
                            {/if}
                        </Button>
                    </div>
                </div>

                {#if renameCollectionProcess.error}
                    <Alert type="error">
                        <p class="font-bold text-lg">Error</p>
                        <p>{renameCollectionProcess.error}</p>
                    </Alert>
                {/if}
            </div>
        </Dialog>
    {:else if dialog === "delete"}
        <Dialog
            title="Delete"
            modal={true}
            on:close={() => {
                dialog = null;
                renameText = null;
            }}
        >
            <div class="p-3">
                <div class="flex">
                    <div class="flex-1 mr-2">
                        <Button
                            dataCy="button close-window"
                            on:click={() => {
                                dialog = null;
                                renameText = null;
                            }}
                        >
                            Cancel
                        </Button>
                    </div>
                    <div class="flex-2">
                        <Button
                            dataCy="button delete-collection"
                            on:click={() => deleteCol()}
                        >
                            {#if deleteCollectionProcess.status === "waiting"}
                                <p class="fa fa-times mr-2" />
                                Delete
                            {:else}
                                <p class="fa fa-spinner animate-spin mr-0.5" />
                                Deleting...
                            {/if}
                        </Button>
                    </div>
                </div>

                {#if deleteCollectionProcess.error}
                    <Alert type="error">
                        <p class="font-bold text-lg">Error</p>
                        <p>{deleteCollectionProcess.error}</p>
                    </Alert>
                {/if}
            </div>
        </Dialog>
    {/if}

    <div class="mx-4">
        <div class="flex items-center gap-4 mb-4">
            <div class="flex-1 pt-4">
                <Breadcrumb path={breadcrumb} />
            </div>
            <div
                class="flex-2 mt-4 p-4 bg-gray-100 rounded-md h-15 text-sm"
                style="padding: .4rem"
            >
                <Button
                    dataCy="button rename"
                    on:click={() => {
                        dialog = "rename";
                        renameText = collection.name;
                    }}
                >
                    <p class="fa fa-pencil-alt" />
                    Rename
                </Button>
                <Button
                    dataCy="button delete"
                    on:click={() => (dialog = "delete")}
                >
                    <p class="fa fa-times" />
                    Delete
                </Button>
            </div>
        </div>

        <div data-cy="collection-content">
            <TitleView items={$page.props.content} />
        </div>
    </div>
</div>
