<script>
    import { page } from '@inertiajs/svelte';
    import axios from "redaxios";

    import Header from "./components/Header.svelte";
    import Button from "./components/Button.svelte";
    import Breadcrumb from "./components/Breadcrumb.svelte";
    import TitleView from "./components/Explorer/TitleView.svelte";

    let favoriteProcess = { status: "waiting" };
    let favorite = $page.props.folder.favorite;

    const updateFavorite = () => {
        if (favoriteProcess.status !== "loading") {
            favoriteProcess = { status: "loading" };

            axios
                .put("/api/file/favorite", {
                    path: $page.props.folder.path,
                    favorite: !favorite,
                })
                .then((resp) => {
                    if (resp.data.data === "created") {
                        favorite = true;
                    } else if (resp.data.data === "removed") {
                        favorite = false;
                    }
                })
                .catch((err) => {
                    console.error(err);
                })
                .finally(() => (favoriteProcess = { status: "waiting" }));
        }
    };
</script>

<svelte:head>
    <title>{$page.props.folder.name} - {$page.props.mslAppName}</title>
</svelte:head>

<div class="antialiased">
    <Header title={$page.props.folder.name} />

    <div class="mx-4">
        <div class="md:flex gap-4 mb-4 items-center">
            {#if $page.props.folder.showActionBar}
                <div class="flex-1 pt-4">
                    <Breadcrumb path={$page.props.folder.breadcrumb} />
                </div>
                <div
                    class="flex-2 mt-4 p-4 bg-gray-100 rounded-md text-sm"
                    style="padding: .6rem"
                >
                    <Button
                        dataCy="button favorite"
                        on:click={() => updateFavorite()}
                    >
                        {#if favoriteProcess.status === "waiting"}
                            <p class="{favorite ? 'fa' : 'far'} fa-star" />
                            {favorite ? "Remove from" : "Add to"} favorites
                        {:else}
                            <p class="fa fa-spinner animate-spin mr-0.5" />
                            {favorite ? "Removing..." : "Adding..."}
                        {/if}
                    </Button>
                </div>
            {/if}
        </div>

        <div data-cy="folder-content">
            <TitleView items={$page.props.folder.content} />
        </div>
    </div>
</div>
