<script>
    import { page } from '@inertiajs/svelte';
    import axios from "redaxios";

    import Header from "./components/Header.svelte";
    import TitleView from "./components/Explorer/TitleView.svelte";
    import Card from "./components/Card.svelte";
    import Button from "./components/Button.svelte";

    const collections = $page.props.collections.map((c) => {
        c.type = "collection";
        c.url = `collection/${c.id}`;
        return c;
    });

    let histories = {
        items: $page.props.histories,
        orderBy: "updated_at",
    };
    let historyProcess = { status: "waiting" };
    let historyClearProcess = { status: "waiting" };

    const loadHistory = (orderBy) => {
        if (historyProcess.status !== "loading") {
            historyProcess = { status: "loading" };

            histories.orderBy = orderBy;

            axios
                .get(`/api/history/sort/${orderBy}`)
                .then(({ data }) => {
                    histories.items = data.data;
                })
                .catch((err) => {
                    console.error(err);
                })
                .finally(() => (historyProcess = { status: "waiting" }));
        }
    };

    const clearHistory = () => {
        if (historyClearProcess.status !== "loading") {
            historyClearProcess = { status: "loading" };

            axios
                .delete("/api/history")
                .then(() => {
                    histories.items = [];
                })
                .catch((err) => {
                    console.error(err);
                })
                .finally(() => (historyClearProcess = { status: "waiting" }));
        }
    };
</script>

<svelte:head>
    <title>Home - {$page.props.mslAppName}</title>
</svelte:head>

<div class="antialiased">
    <Header title="Home" />

    <div class="mt-4">
        <div class="flex">
            <div class="flex-1">
                <div class="flex p-4 m-4">
                    <div class="flex-2">
                        <img
                            src={$page.props.user.profile_picture}
                            alt="User avatar"
                            class="w-20 h-20 rounded-full mr-6 shadow-lg"
                            data-cy="user-avatar"
                        />
                    </div>
                    <div class="flex-1">
                        <p class="text-5xl text-shadow-md" data-cy="user-name">
                            {$page.props.user.name}
                        </p>
                        <p class="text-2xl" data-cy="welcome-text">
                            Nice to see you again 😊
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-files" data-cy="my-files">
            <Card title="📂 My files">
                <div class="mt-4">
                    <TitleView
                        items={$page.props.home.folder.content}
                        noItemsText="You haven't shared a folder yet. We suggest you to read the 'Configuration' chapter available at this link: https://doc-msl.francescosorge.com/"
                    />
                </div>
            </Card>
        </div>

        <div class="favorites" data-cy="favorites">
            <Card title="⭐ Favorites">
                <div class="mt-4">
                    <TitleView
                        items={$page.props.favorites}
                        noItemsText="You haven't favorited a folder or file yet"
                    />
                </div>
            </Card>
        </div>

        <div class="collections" data-cy="collections">
            <Card title="Collections" icon="fa fa-swatchbook">
                <div class="mt-4">
                    <TitleView
                        items={collections}
                        noItemsText="You haven't created any collection yet"
                    />
                </div>
            </Card>
        </div>

        <div class="history" data-cy="history">
            <Card title="🕒 History">
                {#if histories.items.length > 0}
                    <Button
                        moreClasses="md:float-right"
                        dataCy="button clear-history"
                        on:click={() => clearHistory()}
                    >
                        {#if historyClearProcess.status === "waiting"}
                            ❌ Clear history
                        {:else}
                            <p class="fa fa-spinner animate-spin mr-0.5" />
                            Clearing history...
                        {/if}
                    </Button>
                    <Button
                        moreClasses="md:float-right mr-3"
                        dataCy="button change-orderby"
                        on:click={() =>
                            loadHistory(
                                histories.orderBy === "counter"
                                    ? "updated_at"
                                    : "counter"
                            )}
                    >
                        {#if historyProcess.status === "waiting"}
                            🕖 Order by {histories.orderBy === "counter"
                                ? "last opened"
                                : "most opened"}
                        {:else}
                            <p class="fa fa-spinner animate-spin mr-0.5" />
                            Changing...
                        {/if}
                    </Button>
                {/if}
                <div class="mt-4">
                    <TitleView
                        items={histories.items}
                        noItemsText="You haven't opened a file yet"
                    />
                </div>
            </Card>
        </div>
    </div>
</div>
