<script>
    import { onMount } from "svelte";
    import { page } from '@inertiajs/svelte';
    import axios from "redaxios";

    let users = null;
    let selectedUser = null;
    let loginPassword = null;
    let loginProcess = { status: "waiting" };

    onMount(async () => {
        axios
            .get("/api/user/loggable")
            .then((resp) => {
                users = resp.data.data;

                if (users.length === 1 && $page.props.mslAppLoginAutoSelect) {
                    selectUser(users[0]);
                }
            })
            .catch((err) => {
                console.error(err);
            });
    });

    const getParameterByName = (name, url = window.location.href) => {
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return "";
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    };

    const selectUser = (user) => {
        selectedUser = user;

        if (!user.has_password) {
            login(user.username, null);
        } else {
            setTimeout(() => document.getElementById("password").focus(), 100);
        }
    };

    const login = (username, password) => {
        loginProcess = { status: "loading" };

        axios
            .post("/api/user/login", {
                username,
                password,
            })
            .then((resp) => {
                if (resp.data.message === "success") {
                    loginProcess = { status: "success" };
                    const redirect = getParameterByName("redirect");
                    window.location.href =
                        redirect && redirect !== "logout"
                            ? "/" + redirect
                            : "/home";
                } else {
                    loginProcess = { status: "invalid-credentials" };
                    setTimeout(
                        () => document.getElementById("password").focus(),
                        100
                    );
                }
            })
            .catch((err) => {
                console.error(err);
            });
    };
</script>

<svelte:head>
    <title>Login - {$page.props.mslAppName}</title>
</svelte:head>

<div class="antialiased overflow-y-hidden">
    <div
        class="login-background relative flex items-top justify-center min-h-screen text-center items-center sm:pt-0 bg-blue-800 text-white"
    >
        <div class="w-full sm:px-6 lg:px-8">
            {#if users === null}
                <h2 class="text-4xl">{$page.props.mslAppName}</h2>
            {:else if selectedUser === null}
                <h2 class="text-4xl">Who are you? 😊</h2>

                <div data-cy="users">
                    {#each users as user, i}
                        <a
                            href="#u"
                            class="inline-block m-3 p-3 cursor-pointer rounded-lg transition ease-in-out bg-gradient-to-r hover:from-blue-700 hover:to-blue-500 focus:from-blue-700 focus:to-blue-500"
                            on:click={selectUser(user)}
                            tabindex={i + 1}
                        >
                            <img
                                src={user.profile_picture_themed}
                                class="w-32 h-32 rounded-full mx-auto m-3"
                                alt="{user.name} avatar"
                            />
                            <p class="text-lg">{user.name}</p>
                        </a>
                    {/each}
                </div>
            {:else}
                <h2 class="block text-4xl mb-3">
                    <img
                        src={selectedUser.profile_picture_themed}
                        class="w-32 h-32 rounded-full mx-auto mb-2"
                        alt="{selectedUser.name} avatar"
                    />
                    {#if loginProcess.status !== "success"}
                        {#if loginProcess.status !== "loading" && users.length > 1}
                            <button
                                data-cy="go-back"
                                on:click={() => {
                                    selectedUser = null;
                                    loginProcess = { status: "waiting" };
                                }}
                                ><p
                                    class="fa fa-chevron-left text-4xl text-white p-4"
                                /></button
                            >
                        {/if}
                        <span data-cy="selected-user-name"
                            >{selectedUser.name}</span
                        >
                    {:else}
                        Welcome back {selectedUser.name} 👋
                    {/if}
                </h2>

                {#if loginProcess.status !== "loading" && loginProcess.status !== "success"}
                    <form>
                        <input
                            id="password"
                            data-cy="password"
                            type="password"
                            placeholder="PIN"
                            pattern="[0-9]*"
                            inputmode="numeric"
                            class="m-1 py-1 px-2 rounded-md text-black text-center"
                            bind:value={loginPassword}
                        />
                        <button
                            data-cy="login-button"
                            type="submit"
                            class="inline-block m-1 py-2 px-4 text-center bg-gradient-to-r from-blue-700 to-blue-500 text-white rounded-xl transition duration-200 ease-in-out hover:from-blue-900 hover:to-blue-600 hover:shadow-xl"
                            on:click={login(
                                selectedUser.username,
                                loginPassword
                            )}>Login</button
                        >
                    </form>
                    {#if loginProcess.status === "invalid-credentials"}
                        <div
                            data-cy="invalid-pin"
                            class="inline-block m-2 py-2 px-4 bg-gradient-to-r from-red-700 to-red-500 text-white rounded-xl"
                        >
                            PIN is invalid
                        </div>
                    {/if}
                {:else}
                    <p
                        data-cy="loading-indicator"
                        class="fa fa-spinner text-4xl text-gray-500 animate-spin block m-auto my-2"
                    />
                {/if}
            {/if}
        </div>
    </div>
</div>

<style>
    .login-background {
        background-image: url("/images/backgrounds/login.png");
        background-repeat: repeat;
        background-position: center center;
    }
</style>
