<script>
    import { page } from '@inertiajs/svelte';
    import Button from "./components/Button.svelte";
    import CreateAdminAccount from "./OOBE/CreateAdminAccount.svelte";
    import CreateUserAccount from "./OOBE/CreateUserAccount.svelte";
    import Customization from "./OOBE/Customization.svelte";
    import Finished from "./OOBE/Finished.svelte";
    import NewInstallation from "./OOBE/NewInstallation.svelte";

    let currentPageIndex = 0;
    const pages = [
        {
            id: "new-installation",
            title: "😀 Welcome",
            component: NewInstallation,
            canGoBack: false,
        },
        // {
        //     id: "new-admin",
        //     title: "🛡 Create administrator account",
        //     component: CreateAdminAccount,
        //     props: "admin",
        //     canGoBack: true,
        // },
        {
            id: "new-users",
            title: "👤 Create users account",
            component: CreateUserAccount,
            props: "users",
            canGoBack: false,
        },
        {
            id: "customization",
            title: "🎨 Let's customize",
            component: Customization,
            props: "customization",
            canGoBack: true,
        },
        {
            id: "finished",
            title: "🎉 That's it!",
            component: Finished,
            canGoBack: false,
        },
    ];

    $: currentPage = () => pages[currentPageIndex];

    const handleStdEvent = ({ detail }) => {
        if (detail.data === "next") {
            currentPageIndex++;
        } else if (detail.data === "back") {
            currentPageIndex--;
        } else if (detail.data.title) {
            pages[currentPageIndex].title = detail.data.title;
        } else if (detail.data.canGoBack) {
            pages[currentPageIndex].canGoBack = detail.data.canGoBack;
        }
    };
</script>

<svelte:head>
    <title>{currentPage().title} - {$page.props.mslAppName}</title>
</svelte:head>

<div class="page-oobe antialiased overflow-y-hidden">
    <div
        class="bg-blue-700 lg:relative lg:flex items-top justify-center min-h-screen text-center sm:items-center sm:pt-0"
    >
        <div class="bg-white lg:w-3/4 h-screen lg:h-auto max-w-5xl xl:max-w-3xl min-w-min lg:rounded-lg overflow-y-auto">
            <div class="header grid items-center bg-gray-300 p-4 lg:rounded-t-lg" data-cy="header">
                {#if currentPage().canGoBack}
                    <Button
                        moreClasses="-m-2"
                        dataCy="button go-back"
                        on:click={() =>
                            handleStdEvent({ detail: { data: "back" } })}
                    >
                        <span class="fa fa-chevron-left inline-block mr-1" />
                        Go back
                    </Button>
                {:else}
                    <div />
                {/if}
                <h1 class="text-2xl">{currentPage().title}</h1>
            </div>

            <svelte:component
                this={currentPage().component}
                props={$page.props[currentPage().props]}
                on:stdEvent={handleStdEvent}
            />
        </div>
    </div>
</div>

<style>
    .header {
        grid-template-columns: max-content auto;
    }
</style>
