<script>
    import { page } from '@inertiajs/svelte';

    import Header from "./components/Header.svelte";
    import Button from "./components/Button.svelte";
    import UserAccount from "./Settings/UserAccount.svelte";
    import Password from "./Settings/Password.svelte";

    let currentPage = null;
    const pages = [
        {
            id: "user-account",
            title: "User account",
            component: UserAccount,
            icon: "fa fa-user",
        },
        {
            id: "security-and-password",
            title: "Security & password",
            component: Password,
            props: "security-and-password",
            icon: "fa fa-key",
        },
        // {
        //     id: "customization",
        //     title: "Customization",
        //     // component: CreateUserAccount,
        //     props: "customization",
        //     icon: "fa fa-paint-brush",
        // },
    ];
</script>

<svelte:head>
    <title>Settings - {$page.props.mslAppName}</title>
</svelte:head>

<div class="antialiased">
    <Header title="Settings" home={true} />

    <div class="m-auto max-w-3xl mt-4">
        <div class="grid grid-cols-{pages.length} gap-4 my-4 md:my-8">
            {#each pages as page}
                <Button
                    disabled={page === currentPage}
                    dataCy="settings-panel-button {page.id}"
                    on:click={() => (currentPage = page)}
                >
                    <span class="{page.icon} mr-2" />
                    {page.title}
                </Button>
            {/each}
        </div>

        {#if currentPage}
            <div
                class="p-8 bg-gray-50 shadow-lg rounded-xl"
                data-cy="settings-panel"
            >
                <svelte:component
                    this={currentPage.component}
                    props={$page.props[currentPage.props]}
                />
            </div>
        {:else}
            <h1
                class="text-3xl font-light text-gray-400 text-center"
                data-cy="settings-begin-label"
            >
                Click a button to begin...
            </h1>
        {/if}
    </div>
</div>
