<script>
    import { createEventDispatcher } from "svelte";
    import axios from "redaxios";

    import Alert from "../components/Alert.svelte";
    import Button from "../components/Button.svelte";

    export let endpoint;
    export let profilePicture = false;
    export let forcePassword = true;

    const dispatch = createEventDispatcher();

    const form = {
        name: "",
        username: "",
        password: "",
        passwordRepeat: "",
        profilePicture: null,
    };
    let creationProcess = { status: "waiting", error: null };
    let profilePicturePreview = "/images/avatar_black.png";

    const create = () => {
        if (creationProcess.status !== "loading") {
            creationProcess = { status: "loading" };

            if (form.name.length === 0) {
                creationProcess = {
                    status: "waiting",
                    error: "Name cannot be empty",
                };
            } else if (form.username.length === 0) {
                creationProcess = {
                    status: "waiting",
                    error: "Username cannot be empty",
                };
            } else if (forcePassword && form.password.length === 0) {
                creationProcess = {
                    status: "waiting",
                    error: "Password cannot be empty",
                };
            } else if (form.password !== form.passwordRepeat) {
                creationProcess = {
                    status: "waiting",
                    error: "The two passwords are not the same",
                };
            } else {
                axios
                    .post(`/api/welcome/${endpoint}`, {
                        name: form.name,
                        username: form.username,
                        password: form.password,
                    })
                    .then(({ data }) => {
                        if (data.data.status === "created") {
                            if (profilePicture && form.profilePicture) {
                                uploadProfilePicture();
                            } else {
                                dispatch("stdEvent", { data: "next" });
                            }
                        } else if (data.data.status === "error") {
                            creationProcess.status = "waiting";
                            switch (data.data.error) {
                                case "username-already-exists":
                                    creationProcess.error =
                                        "A user with this username already exists. Try another one.";
                                    break;
                                case "username-not-valid":
                                    creationProcess.error =
                                        "Username is not valid. Try another one.";
                                    break;
                                default:
                                    creationProcess.error = "Unknown error.";
                            }
                        }
                    })
                    .catch(() => {
                        creationProcess.status = "waiting";
                        creationProcess.error = "Server error. Check logs.";
                    });
            }
        }
    };

    const setProfilePicture = () => {
        const reader = new FileReader();

        reader.onload = (e) => {
            profilePicturePreview = e.target.result;
        };

        reader.readAsDataURL(form.profilePicture[0]);
    };

    const uploadProfilePicture = () => {
        let formData = new FormData();
        formData.append("profilePicture", form.profilePicture[0]);

        axios
            .post(
                `/api/welcome/${endpoint}/profile-picture/${form.username}`,
                formData,
                {
                    headers: {
                        "Content-Type": "multipart/form-data",
                    },
                }
            )
            .then(({ data }) => {
                if (data.data.status === "uploaded") {
                    dispatch("stdEvent", {
                        data: "next",
                    });
                } else if (data.data.status === "error") {
                    creationProcess.error = "Unknown error.";
                }
            })
            .catch(() => {
                creationProcess.error = "Server error. Check logs.";
            })
            .finally(() => (creationProcess.status = "waiting"));
    };
</script>

<div class="grid user-details items-center gap-1 md:gap-4">
    {#if profilePicture}
        <div class="text-right">
            <label class="font-bold" for="profilePicture">Profile picture</label
            >
        </div>
        <div>
            <img
                src={profilePicturePreview}
                class="w-24 h-24 rounded-full mx-auto m-3"
                alt="{form.name} avatar"
            />
            <input
                type="file"
                bind:files={form.profilePicture}
                on:change={setProfilePicture}
            />
        </div>
        <div class="text-gray-500 text-sm">
            <p>
                Optional: will be shown in different parts of the application,
                like the login or home screen
            </p>
        </div>
    {/if}

    <div class="text-right">
        <label class="font-bold" for="name">Name</label>
    </div>
    <div>
        <input
            id="name"
            data-cy="name"
            type="text"
            placeholder="Name"
            class="m-1 py-1 px-2 rounded-md text-black border border-blue-500 w-full"
            bind:value={form.name}
        />
    </div>
    <div class="text-gray-500 text-sm">
        <p>The name that will be shown when selecting a user for login</p>
    </div>
    <div class="text-right">
        <label class="font-bold" for="username">Username</label>
    </div>
    <div>
        <input
            id="username"
            data-cy="username"
            type="text"
            placeholder="Username"
            class="m-1 py-1 px-2 rounded-md text-black border border-blue-500 w-full"
            bind:value={form.username}
        />
    </div>
    <div class="text-gray-500 text-sm">
        <p>
            It can be anything without spaces or special symbols. Must be unique
            among all users and admins.
        </p>
    </div>
    <div class="text-right">
        <label class="font-bold" for="password">Password</label>
    </div>
    <div>
        <input
            id="password"
            data-cy="password"
            type="password"
            placeholder="Password"
            class="m-1 py-1 px-2 rounded-md text-black border border-blue-500 w-full"
            bind:value={form.password}
        />
    </div>
    <div class="text-gray-500 text-sm">
        <p>Choose a secure password.</p>
    </div>
    <div class="text-right">
        <label class="font-bold" for="passwordRepeat">Repeat password</label>
    </div>
    <div>
        <input
            id="passwordRepeat"
            data-cy="passwordRepeat"
            type="password"
            placeholder="Repeat password"
            class="m-1 py-1 px-2 rounded-md text-black border border-blue-500 w-full"
            bind:value={form.passwordRepeat}
        />
    </div>
    <div class="text-gray-500 text-sm">
        <p>
            Repeat the password you chose. This is to make sure that you did not
            make any mistake while typing.
        </p>
    </div>
</div>

<div class="grid bottom-bar items-center mt-3">
    {#if creationProcess.error}
        <Alert type="error">{creationProcess.error}</Alert>
    {/if}
    <div class="ml-3 text-right">
        <Button dataCy="button create" on:click={create}>
            {#if creationProcess.status === "waiting"}
                <span class="fa fa-plus inline-block mr-1" />
                Create
            {:else}
                <p class="fa fa-spinner animate-spin mr-0.5" />
                Creating...
            {/if}
        </Button>
    </div>
</div>

<style>
    .user-details {
        grid-template-columns: max-content auto auto;
    }

    .bottom-bar {
        grid-template-columns: auto max-content;
    }
</style>
