<script>
    import { createEventDispatcher, onMount } from "svelte";
    import axios from "redaxios";

    import Alert from "../components/Alert.svelte";
    import Button from "../components/Button.svelte";
    import AccountCreator from "./AccountCreator.svelte";

    export let props = null;

    let users = props.data;
    let userProcess = { status: "waiting", error: null };
    let deleteProcess = { status: "waiting", error: null, username: null };
    let view = null;

    const dispatch = createEventDispatcher();

    onMount(() => {
        changeView(users.length > 0 ? "view" : "create");
    });

    const changeView = (newView) => {
        view = newView;

        switch (view) {
            case "view":
                dispatch("stdEvent", { data: { title: "👤 Users" } });
                break;
            case "create":
                deleteProcess = {
                    status: "waiting",
                    error: null,
                    username: null,
                };
                dispatch("stdEvent", { data: { title: "👤 User creation" } });
                break;
        }
    };

    const loadUsers = () => {
        userProcess.status = "loading";

        axios
            .get(`/api/welcome/user`)
            .then(({ data }) => {
                users = data.data;
            })
            .catch((e) => {
                console.error(e);
            })
            .finally(() => (userProcess.status = "waiting"));
    };

    const deleteUser = (username) => {
        if (deleteProcess.status === "waiting") {
            deleteProcess.status = "loading";
            deleteProcess.error = null;
            deleteProcess.username = username;

            axios
                .delete(`/api/welcome/user/${username}`)
                .then(({ data }) => {
                    if (data.data.status === "deleted") {
                        users.splice(
                            users.findIndex((u) => u.username === username),
                            1
                        );

                        if (users.length === 0) {
                            changeView("create");
                        }
                    } else if (data.data.status === "error") {
                        deleteProcess.error = data.data.message;
                    }
                })
                .catch((e) => {
                    console.error(e);
                })
                .finally(() => {
                    deleteProcess.status = "waiting";
                });
        }
    };
</script>

<form class="block text-left p-5">
    {#if view === "view"}
        <div>
            {#if userProcess.status === "loading"}
                <div class="text-center">
                    <p class="fa fa-spinner text-4xl text-gray-500 animate-spin" />
                </div>
            {:else}
                <p>Users currently available:</p>
                {#each users as user}
                    <div class="grid user items-center gap-4" data-cy="user entry">
                        <div>
                            <img
                                src={user.profile_picture}
                                class="w-10 h-10 rounded-full mx-auto m-3"
                                alt="{user.name} avatar"
                            />
                        </div>
                        <div>
                            {user.name}
                            <span class="text-gray-500 text-sm"
                                >({user.username})</span
                            >
                        </div>
                        <div>
                            <Button
                                dataCy="button delete"
                                on:click={() => deleteUser(user.username)}
                            >
                                {#if deleteProcess.status === "waiting" || deleteProcess.username !== user.username}
                                    <span
                                        class="fa fa-trash-alt inline-block mr-1"
                                    />
                                    Delete
                                {:else}
                                    <p
                                        class="fa fa-spinner animate-spin mr-0.5"
                                    />
                                    Deleting...
                                {/if}
                            </Button>
                        </div>
                    </div>

                    {#if deleteProcess.error && deleteProcess.username === user.username}
                        <div class="block w-full">
                            <Alert type="error">{deleteProcess.error}</Alert>
                        </div>
                    {/if}
                {/each}
            {/if}
        </div>

        <div class="grid bottom-bar items-center mt-3">
            <div>
                <Button
                    dataCy="button new"
                    on:click={() => changeView("create")}
                >
                    <span class="fa fa-plus inline-block mr-1" />
                    New user
                </Button>
            </div>
            <div class="text-right">
                <Button
                    dataCy="button next"
                    on:click={() => dispatch("stdEvent", { data: "next" })}
                >
                    Next
                    <span class="fa fa-chevron-right inline-block ml-1" />
                </Button>
            </div>
        </div>
    {:else if view === "create"}
        {#if users.length > 0}
            <div class="block mb-3">
                <Button
                    dataCy="button cancel"
                    on:click={() => changeView("view")}
                >
                    <span class="fa fa-chevron-left inline-block mr-1" />
                    Go back
                </Button>
            </div>
        {/if}

        <p class="block mb-2">
            Users can view videos, listen to audio and playlists and see
            pictures shared with them. Each user can see and interact with
            different things which you, administrator, can configure in your
            admin panel.
        </p>

        <AccountCreator
            endpoint="user"
            profilePicture={true}
            forcePassword={false}
            on:stdEvent={() => {
                loadUsers();
                changeView("view");
            }}
        />
    {/if}
</form>

<style>
    .bottom-bar {
        grid-template-columns: auto max-content;
    }

    .grid.user {
        grid-template-columns: max-content auto max-content;
    }
</style>
