<script>
    import { createEventDispatcher, onMount } from "svelte";
    import Alert from "../components/Alert.svelte";

    import Button from "../components/Button.svelte";
    import AccountCreator from "./AccountCreator.svelte";

    export let props = null;
    const dispatch = createEventDispatcher();
</script>

<form class="block text-left p-5">
    {#if props.create === false}
        <Alert type="warning">
            <p class="font-bold">Administrators already exist</p>
            <p>
                It seems like there already are administrators. We'll skip
                administrator creation.
            </p>
        </Alert>

        <div class="grid bottom-bar items-center mt-3">
            <div class="text-right">
                <Button
                    dataCy="button next"
                    on:click={() => dispatch("stdEvent", { data: "next" })}
                >
                    Next
                    <span class="fa fa-chevron-right inline-block ml-1" />
                </Button>
            </div>
        </div>
    {:else}
        <p class="block mb-2">
            The administrator can manage users, shared folders, permissions,
            group policies, customizations and more
        </p>

        <AccountCreator endpoint="admin" on:stdEvent />
    {/if}
</form>
