<script>
    import { page } from '@inertiajs/svelte';
    import axios from "redaxios";

    import { createEventDispatcher } from "svelte";
    import Alert from "../components/Alert.svelte";
    import Button from "../components/Button.svelte";

    export let props = null;

    const dispatch = createEventDispatcher();

    const regexHelp = {
        "^\\.": "All items starting with a dot",
        "AlbumArt(.*?).jpg":
            "Music album images, which in turn are used as the folder's icon",
        "desktop.ini": "A file used by the Windows operating system",
        "Thumbs.db": "A file used by the Windows operating system",
        "Folder.jpg":
            "Used to show a custom icon on a folder but hides it when opening the folder",
        "(.*?).srt": "Subtitles for videos",
        "(.*?).vtt": "Subtitles for videos",
    };

    const form = {
        appName: $page.props.mslAppName,
        bannedEntries:
            props.bannedEntries === null
                ? []
                : props.bannedEntries
                      .substring(1, props.bannedEntries.length - 1)
                      .split("|"),
        loginAutoSelect: props.loginAutoSelect.toString(),
    };

    let customizationProcess = { status: "waiting", error: null };

    const save = () => {
        if (customizationProcess.status !== "loading") {
            customizationProcess = { status: "loading" };
            const bannedEntries =
                "/" +
                form.bannedEntries
                    .filter((e) => e.trim().length > 0)
                    .join("|") +
                "/";

            if (form.appName.length === 0) {
                customizationProcess = {
                    status: "waiting",
                    error: "Application name cannot be empty",
                };
            } else {
                axios
                    .patch(`/api/welcome/app`, {
                        appName: form.appName,
                        bannedEntries: bannedEntries,
                        loginAutoSelect: form.loginAutoSelect,
                    })
                    .then(({ data }) => {
                        dispatch("stdEvent", { data: "next" });
                    })
                    .catch(() => {
                        customizationProcess.error =
                            "Server error. Check logs.";
                    })
                    .finally(() => (customizationProcess.status = "waiting"));
            }
        }
    };
</script>

<form class="block text-left p-5">
    <div class="grid grid-cols-2 gap-4 items-center">
        <div>
            <label class="font-bold block" for="appName">Application name</label
            >
            <input
                id="appName"
                data-cy="appName"
                type="text"
                placeholder="Application name"
                class="my-1 py-1 px-2 rounded-md text-black border border-blue-500 w-full"
                bind:value={form.appName}
            />
            <p class="text-gray-500 text-sm">
                The application name will be shown in different parts of the
                application
            </p>
        </div>
        <div>
            <label class="font-bold block" for="name">Login behaviour</label>

            <select
                class="my-1 py-1 px-2 rounded-md text-black border border-blue-500 w-full"
                bind:value={form.loginAutoSelect}
            >
                <option value="false">Show login page</option>
                <option value="true">Automatic login</option>
            </select>

            <p class="text-gray-500 text-sm">
                Decide what happens when there's just one user available for
                login
            </p>
        </div>
    </div>

    <div class="mt-4">
        <label class="font-bold block" for="name">Hidden entries</label>

        <p class="text-gray-500 text-sm">
            Folders and files to hide when displaying a folder content
        </p>

        <div class="grid hidden-entries gap-2 items-center">
            {#each form.bannedEntries as entry, i}
                <Button
                    dataCy="button delete-pattern"
                    on:click={() => {
                        form.bannedEntries.splice(i, 1);
                        form.bannedEntries = [...form.bannedEntries];
                    }}
                >
                    <span class="fa fa-times" />
                </Button>
                <div>
                    <input
                        data-cy="hidden-entry input"
                        type="text"
                        bind:value={form.bannedEntries[i]}
                        class="py-1 px-2 rounded-md text-black border border-blue-500 w-full"
                    />
                </div>
                <div>
                    <p class="text-gray-500 text-sm">
                        {#if regexHelp[entry]}
                            {regexHelp[entry]}
                        {:else if entry.trim().length === 0}
                            Empty pattern will be ignored
                        {:else}
                            Pattern not recognized
                        {/if}
                    </p>
                </div>
            {/each}
            <Button
                moreClasses="col-span-2"
                dataCy="button add-pattern"
                on:click={() =>
                    (form.bannedEntries = [...form.bannedEntries, ""])}
            >
                <span class="fa fa-plus inline-block mr-1" />
                Add pattern
            </Button>
            <p class="text-gray-500 text-sm">
                Must be a valid PHP regex pattern. Check your regular expression
                with <a href="https://regex101.com/" target="_blank"
                    >regex101.com</a
                > before saving your settings. If the pattern is wrong, your application
                may stop working!
            </p>
        </div>

        <div class="grid bottom-bar items-center mt-3">
            {#if customizationProcess.error}
                <Alert type="error">{customizationProcess.error}</Alert>
            {/if}
            <div class="text-right">
                <Button dataCy="button save" on:click={save}>
                    {#if customizationProcess.status === "waiting"}
                        Next
                        <span class="fa fa-chevron-right inline-block ml-1" />
                    {:else}
                        <p class="fa fa-spinner animate-spin mr-0.5" />
                        Customizing...
                    {/if}
                </Button>
            </div>
        </div>
    </div>
</form>

<style>
    .hidden-entries {
        grid-template-columns: min-content auto auto;
    }

    .bottom-bar {
        grid-template-columns: auto max-content;
    }
</style>
