<script>
    import Button from "../components/Button.svelte";
</script>

<div class="block p-5">
    <div class="text-green-500">
        <div class="fa fa-check text-9xl" />
        <h2 class="text-2xl">Ready!</h2>
    </div>

    <div class="block p-3">
        <p>
            You can start using the application whenever you're ready, it's just
            a press of a button away
        </p>
        <Button
            dataCy="button goToApp"
            moreClasses="m-3"
            on:click={() => (window.location.href = "/logout")}
            >Let's start <span
                class="fa fa-chevron-right inline-block ml-1"
            /></Button
        >
    </div>
</div>
