<script>
    import { page } from '@inertiajs/svelte';
    import { createEventDispatcher } from "svelte";

    import Button from "../components/Button.svelte";

    const dispatch = createEventDispatcher();
</script>

<div class="p-4 rounded-b-lg text-left">
    <h1 class="font-bold text-lg">Welcome to {$page.props.mslAppName}</h1>
    <p>This shouldn't take more than 2 minutes and then your're good to go!</p>

    <br />

    <p>Some of the things we'll be configuring:</p>

    <div class="flex text-center font-bold">
        <!-- <div class="flex-1 p-5 text-blue-500">
            <p class="fa fa-user-shield text-4xl p-2" />
            <p>Administrator account</p>
        </div> -->
        <div class="flex-1 p-5 text-red-500">
            <p class="fa fa-user-alt text-4xl p-2" />
            <p>User accounts</p>
        </div>
        <div class="flex-1 p-5 text-green-500">
            <p class="fa fa-pencil-ruler text-4xl p-2" />
            <p>Customizations</p>
        </div>
    </div>

    <br />

    <p class="text-right">
        We're ready when you are

        <Button
            on:click={() => dispatch("stdEvent", { data: "next" })}
            dataCy="button start"
        >
            Let's start
            <span class="fa fa-chevron-right inline-block ml-1" />
        </Button>
    </p>
</div>
