<script>
    import { page } from '@inertiajs/svelte';
    import axios from "redaxios";

    import Alert from "../components/Alert.svelte";
    import Button from "../components/Button.svelte";

    const form = {
        name: $page.props.user.name,
        profilePicture: null,
        clearProfilePicture: false,
    };
    let updateProcess = { status: "waiting", text: null };
    let profilePicturePreview = $page.props.user.profile_picture;

    $: hasProfilePicture = () =>
        profilePicturePreview.indexOf("/images/avatars/") >= 0;

    const update = () => {
        if (updateProcess.status !== "loading") {
            updateProcess = { status: "loading" };

            if (form.name.length === 0) {
                updateProcess = {
                    status: "waiting",
                    type: "error",
                    text: "Name cannot be empty",
                };
            } else {
                axios
                    .put(`/api/user/basic`, {
                        name: form.name,
                        clearProfilePicture: form.clearProfilePicture,
                    })
                    .then(({ data }) => {
                        if (data.data.status === "updated") {
                            if (
                                !form.clearProfilePicture &&
                                form.profilePicture
                            ) {
                                uploadProfilePicture();
                            } else {
                                updateProcess = {
                                    status: "waiting",
                                    type: "success",
                                    text: "User updated",
                                };
                            }
                        } else if (data.data.status === "error") {
                            updateProcess = {
                                status: "waiting",
                                type: "error",
                                text: "Unknown error",
                            };
                        }
                    })
                    .catch(() => {
                        updateProcess = {
                            status: "waiting",
                            type: "error",
                            text: "Server error",
                        };
                    });
            }
        }
    };

    const setProfilePicture = () => {
        const reader = new FileReader();

        reader.onload = (e) => {
            form.clearProfilePicture = false;
            profilePicturePreview = e.target.result;
        };

        reader.readAsDataURL(form.profilePicture[0]);
    };

    const uploadProfilePicture = () => {
        const formData = new FormData();
        formData.append("profilePicture", form.profilePicture[0]);

        axios
            .post(`/api/user/basic/profile-picture`, formData, {
                headers: {
                    "Content-Type": "multipart/form-data",
                },
            })
            .then(({ data }) => {
                if (data.data.status === "uploaded") {
                    updateProcess = {
                        status: "waiting",
                        type: "success",
                        text: "User updated",
                    };
                } else if (data.data.status === "error") {
                    updateProcess = {
                        status: "waiting",
                        type: "error",
                        text: "Unknown error",
                    };
                }
            })
            .catch(() => {
                updateProcess = {
                    status: "waiting",
                    type: "error",
                    text: "Server error",
                };
            })
            .finally(() => (updateProcess.status = "waiting"));
    };
</script>

<div class="user-details md:grid grid-cols-2 items-center gap-1 md:gap-4">
    <div class="space-y-2 {!hasProfilePicture() ? 'col-span-2' : ''}">
        <label class="font-bold" for="profilePicture">Profile picture</label>
        <img
            src={profilePicturePreview}
            class="w-24 h-24 rounded-full mx-auto m-3"
            alt="{form.name} avatar"
        />
        <input
            type="file"
            data-cy="upload-profile-picture"
            bind:files={form.profilePicture}
            on:change={setProfilePicture}
        />
    </div>

    <div>
        {#if hasProfilePicture()}
            <Button
                dataCy="clear-profile-picture"
                on:click={() => (form.clearProfilePicture = true)}
            >
                <span class="fa fa-times inline-block mr-1" />
                Clear profile picture
            </Button>

            {#if form.clearProfilePicture}
                <div class="mt-3">
                    <Alert type="info" dataCy="clear-profile-picture-info">
                        Your profile picture will be removed when you save
                    </Alert>
                </div>
            {/if}
        {/if}
    </div>

    <div class="col-span-2 space-y-2">
        <label class="font-bold" for="name">Name</label>
        <input
            id="name"
            data-cy="name"
            type="text"
            placeholder="Name"
            class="py-1 px-2 rounded-md text-black border border-blue-500 w-full"
            bind:value={form.name}
        />
    </div>
</div>

<div class="grid bottom-bar items-center mt-3 space-x-3">
    {#if updateProcess.text}
        <Alert type={updateProcess.type}>{updateProcess.text}</Alert>
    {/if}
    <div class="text-right">
        <Button dataCy="button update" on:click={update}>
            {#if updateProcess.status === "waiting"}
                <span class="far fa-save inline-block mr-1" />
                Save
            {:else}
                <p class="fa fa-spinner animate-spin mr-0.5" />
                Saving...
            {/if}
        </Button>
    </div>
</div>

<style>
    .bottom-bar {
        grid-template-columns: auto max-content;
    }
</style>
