<script>
    export let id;
    export let position;
    export let width;

    export let leftOrRight = 'left';

    export let marginTop = 'mt-2';
</script>

<div
    class="dropdown dropdown-{id} bg-white flex flex-col py-3 space-y-3 text-blue-500 absolute rounded-lg shadow-lg text-sm z-20 {marginTop}"
    style="top: {position.y}px; {leftOrRight}: {position.x}px; min-width: {width}px"
>
    <slot />
</div>
