<script>
    export let href = null;
    export let onClick = null;
</script>

<a
    {href}
    on:click={onClick}
    class="dropdown-item flex-1 flex items-center space-x-2 mx-3 py-2 px-2 rounded-lg text-black cursor-pointer transition ease-in-out hover:text-white hover:bg-blue-500 hover:shadow-lg"
>
    <slot name="icon" class="flex-2" />
    <slot name="text" class="flex-1" />
</a>
