<script>
    import Button from "../Button.svelte";
    import Dialog from "../Dialog.svelte";
    import Metadata from "../FileViewer/Metadata.svelte";

    export let items = [];
    export let iconsClasses = "float-left inline-block mr-3 w-10 h-10 mt-1";
    export let noItemsText = "No items in this view";

    let fileMetadata = null;

    const buildClass = (item) => {
        switch (item.type) {
            case "folder":
                return "hover:bg-yellow-200 focus:bg-yellow-200";
            case "file":
                switch (item.fileType) {
                    case "video":
                        return "hover:bg-red-200 focus:bg-red-200 ";
                    case "audio":
                    case "playlist":
                        return "hover:bg-blue-200 focus:bg-blue-200 ";
                    case "image":
                        return "hover:bg-green-200 focus:bg-green-200 ";
                }
            case "collection":
                return "hover:bg-yellow-200 focus:bg-yellow-200";
            default:
                return "hover:bg-gray-200 focus:bg-gray-200";
        }
    };

    const printType = (item) => {
        switch (item.type) {
            case "folder":
                return "Folder";
            case "file":
                switch (item.fileType) {
                    case "video":
                        return "Video";
                    case "audio":
                        return "Audio";
                    case "playlist":
                        return "Playlist";
                    case "image":
                        return "Image";
                    default:
                        return "Unknown";
                }
            case "collection":
                return "Collection";
            default:
                return "Unknown";
        }
    };
</script>

<div data-cy="title-view">
    {#if items.length === 0}
        <p class="block m-3 text-gray-500">
            {noItemsText}
        </p>
    {/if}

    {#if fileMetadata !== null}
        <Dialog
            title={fileMetadata.item.name}
            modal={true}
            moreDialogClasses="max-w-screen-xl"
            on:close={() => (fileMetadata = null)}
        >
            <Metadata
                lazyLoad={{ path: fileMetadata.item.path, addMedia: true }}
                captions={fileMetadata.item.captions}
            />
        </Dialog>
    {/if}

    {#each items as item, i}
        <a
            class="title-view-item inline-block my-1 mr-3 py-2 p-3 w-full truncate transition duration-200 ease-in-out rounded-lg outline-none {buildClass(
                item
            )}"
            tabindex={i + 1}
            title={item.name}
            href={item.url}
            data-cy="entry-item"
        >
            {#if item.type === "folder"}
                {#if item.icon}
                    <img
                        src={item.icon}
                        class={iconsClasses}
                        alt={item.name}
                        data-cy="item-icon"
                    />
                {:else}
                    <p
                        class="fa fa-folder text-4xl text-yellow-500 {iconsClasses}"
                        data-cy="item-icon"
                    />
                {/if}
            {:else if item.fileType === "video"}
                <p
                    class="fa fa-film text-4xl text-red-500 {iconsClasses}"
                    data-cy="item-icon"
                />
            {:else if item.fileType === "audio"}
                <p
                    class="fa fa-music text-4xl text-blue-500 {iconsClasses}"
                    data-cy="item-icon"
                />
            {:else if item.fileType === "playlist"}
                <p
                    class="fa fa-list-ol text-4xl text-blue-500 {iconsClasses}"
                    data-cy="item-icon"
                />
            {:else if item.fileType === "image"}
                <img
                    src={item.icon}
                    class={iconsClasses}
                    alt={item.name}
                    data-cy="item-icon"
                />
            {:else if item.type === "collection"}
                <p
                    class="fa fa-swatchbook text-4xl text-yellow-500 {iconsClasses}"
                    data-cy="item-icon"
                />
            {:else}
                <p
                    class="fa fa-question text-4xl text-gray-500 {iconsClasses}"
                    data-cy="item-icon"
                />
            {/if}

            <span data-cy="item-name">
                {item.name}
            </span>

            {#if item.type === "file" && item.fileType === null}
                <span class="text-xs text-gray-500">.{item.extension}</span>
            {/if}

            <p class="block font-sm text-gray-500" data-cy="item-type">
                {printType(item)}

                {#if item.captions?.length > 0}
                    <p
                        class="far fa-closed-captioning"
                        data-cy="item-captions"
                        title="This file has subtitles or captions"
                    />
                {/if}

                {#if item.hasMetadata}
                    <Button
                        classes="w-6 h-6 inline-flex items-center justify-center text-xs rounded-full"
                        dataCy="item-metadata-open-dialog-button"
                        on:click={() =>
                            (fileMetadata = {
                                item: item,
                            })}
                    >
                        <p
                            class="fa fa-info text-white"
                            data-cy="item-metadata"
                            title="This file has metadata"
                        />
                    </Button>
                {/if}
            </p>
        </a>
    {/each}
</div>

<style>
    .title-view-item {
        /* md:max-w-xs max-w-full */
        max-width: calc(100% / 7 - 0.75rem);
    }

    @media only screen and (max-width: 2600px) {
        .title-view-item {
            max-width: calc(100% / 6 - 0.75rem);
        }
    }

    @media only screen and (max-width: 2200px) {
        .title-view-item {
            max-width: calc(100% / 5 - 0.75rem);
        }
    }

    @media only screen and (max-width: 1800px) {
        .title-view-item {
            max-width: calc(100% / 4 - 0.75rem);
        }
    }

    @media only screen and (max-width: 1400px) {
        .title-view-item {
            max-width: calc(100% / 3 - 0.75rem);
        }
    }

    @media only screen and (max-width: 1000px) {
        .title-view-item {
            max-width: calc(100% / 2 - 0.75rem);
        }
    }

    @media only screen and (max-width: 600px) {
        .title-view-item {
            max-width: calc(100% - 0.75rem);
        }
    }
</style>
