<script>
    import Button from "../Button.svelte";
    import Alert from "../Alert.svelte";
    import axios from "redaxios";

    export let collections = null;
    export let filePath = null;

    let panel = "list";
    let search = "";
    let collectionName = "";
    let collectionProcess = { status: "waiting" };
    let newCollectionProcess = { status: "waiting", error: null };

    $: filteredCollections = () => {
        return collections.filter(
            (c) =>
                search.trim() === "" ||
                c.name.toLowerCase().includes(search.trim().toLowerCase())
        );
    };

    const updateCollection = (collection, add) => {
        if (collectionProcess.status !== "loading") {
            collectionProcess = { status: "loading", collection };

            axios
                .put("/api/collections/pair", {
                    collectionId: collection.id,
                    path: filePath,
                    add,
                })
                .then((resp) => {
                    collection.exists = resp.data.data === "added";
                })
                .catch((err) => {
                    console.error(err);
                })
                .finally(() => (collectionProcess = { status: "waiting" }));
        }
    };

    const create = () => {
        if (newCollectionProcess.status !== "loading") {
            newCollectionProcess = { status: "loading" };

            axios
                .post("/api/collections", {
                    name: collectionName,
                })
                .then(({ data }) => {
                    if (data.data.status === "created") {
                        collections.push(data.data.collection);
                        panel = "list";
                        newCollectionProcess.error = null;
                    } else if (data.data.status === "error") {
                        switch (data.data.error) {
                            case "empty-name":
                                renameCollectionProcess.error =
                                    "Collection name can't be empty!";
                                break;
                            case "already-exists":
                                newCollectionProcess.error =
                                    "A collection with this name already exists. Try another one.";
                                break;
                            default:
                                renameCollectionProcess.error =
                                    "Unknown error.";
                        }
                    }
                })
                .catch(() => {
                    newCollectionProcess.error = "Server error. Check logs.";
                })
                .finally(() => (newCollectionProcess.status = "waiting"));
        }
    };
</script>

{#if panel === "list"}
    <div class="flex items-center p-3 bg-blue-500 text-white">
        <div class="flex-1 mr-2">
            <input
                type="search"
                data-cy="collections search"
                placeholder="🔎 Search in collections..."
                class="block w-full m-1 py-2 px-2 rounded-lg text-black text-center focus:online-none"
                bind:value={search}
            />
        </div>
        <div class="flex-2">
            <Button
                dataCy="button go-to-new-collection"
                on:click={() => (panel = "new")}
                ><p class="fa fa-plus mr-2" />
                New collection</Button
            >
        </div>
    </div>

    <div class="p-3">
        {#if filteredCollections().length === 0}
            <p
                class="block text-gray-500 p-3 text-center"
                data-cy="no-collections"
            >
                No collections found :(
            </p>
        {/if}

        {#each filteredCollections() as collection}
            <div
                class="flex items-center m-1 transition ease-in-out hover:bg-blue-100 focus:bg-blue-100 rounded-md"
                data-cy="collections entry"
            >
                <div class="flex-2 mr-1 py-3 pl-3">
                    {#if collection.icon === null}
                        <p class="inline-block w-5" />
                    {:else}
                        <p class="fa fa-{collection.icon} w-5" />
                    {/if}
                </div>
                <div
                    class="flex-1 pl-1 p-3 font-bold w-full max-w-sm truncate overflow-ellipsis overflow-hidden"
                >
                    {collection.name}
                </div>
                <div class="flex-2 p-0.5">
                    <Button
                        moreClasses="text-sm"
                        dataCy="button add-to-collection"
                        on:click={() =>
                            updateCollection(collection, !collection.exists)}
                    >
                        {#if collectionProcess.status === "waiting" || collectionProcess.collection !== collection}
                            <p
                                class="mr-1 {collection.exists
                                    ? 'fa fa-times'
                                    : 'fa fa-plus'}"
                            />
                            {collection.exists ? "Remove" : "Add"}
                        {:else if collectionProcess.collection === collection}
                            <p class="fa fa-spinner animate-spin mr-0.5" />
                            {collection.exists ? "Removing..." : "Adding..."}
                        {/if}
                    </Button>
                </div>
            </div>
        {/each}
    </div>
{:else if panel === "new"}
    <div class="p-3">
        <div class="flex items-center">
            <div class="flex-2">
                <Button
                    dataCy="button new-go-back"
                    on:click={() => (panel = "list")}
                    ><p class="fa fa-chevron-left" /></Button
                >
            </div>
            <div class="flex-1 mr-2">
                <input
                    type="text"
                    data-cy="collections new-input"
                    placeholder="Collection name"
                    class="block w-full m-1 py-2 px-2 rounded-lg text-center border border-gray-300 focus:online-none"
                    bind:value={collectionName}
                />
            </div>
            <div class="flex-2">
                <Button
                    dataCy="button create-new-collection"
                    on:click={() => create()}
                >
                    {#if newCollectionProcess.status === "waiting"}
                        <p class="fa fa-plus mr-2" />
                        Create
                    {:else}
                        <p class="fa fa-spinner animate-spin mr-0.5" />
                        Creating...
                    {/if}
                </Button>
            </div>
        </div>

        {#if newCollectionProcess.error}
            <Alert type="error">
                <p class="font-bold text-lg">Error</p>
                <p>{newCollectionProcess.error}</p>
            </Alert>
        {/if}
    </div>
{/if}
