<script>
    import { onMount } from "svelte";
    import axios from "redaxios";

    import Alert from "../Alert.svelte";
    import Button from "../Button.svelte";

    export let filePath;
    export let metadata;
    export let captions;
    export let editable = false;
    export let expanded = false;
    export let lazyLoad = null;

    const itemToWikipedia = (item) => {
        return `<a href="https://en.wikipedia.org/wiki/${item}" class="text-blue-500 underline" target="_blank">${item}</a>`;
    };

    const arrayToWikipedia = (array) => {
        return array.map(itemToWikipedia).join(", ");
    };

    const data = {
        companies: {
            label: "Companies",
            placeholder: "Separate values by comma (eg: Marvel,DC)",
            transform: arrayToWikipedia,
        },
        genres: {
            label: "Genres",
            placeholder: "Separate values by comma (eg: Action,Thriller)",
            transform: arrayToWikipedia,
        },
        directors: {
            label: "Directed by",
            placeholder: "Separate values by comma (eg: Me,Myself)",
            transform: arrayToWikipedia,
        },
        actors: {
            label: "Actors",
            placeholder: "Separate values by comma (eg: You,Yourself)",
            transform: arrayToWikipedia,
        },
    };

    const arrayData = ["companies", "genres", "directors", "actors"];

    let form = {
        poster: undefined,
        release_date: undefined,
        language: undefined,
        title: undefined,
        description: undefined,
        links: undefined,
        directors: undefined,
        actors: undefined,
        companies: undefined,
        genres: undefined,
        clearPoster: false,
        shouldUploadPoster: false,
    };

    let saveProcess = { status: "waiting", error: null };
    let posterPreview = null;

    let scrapProcess = { status: "waiting", error: null };

    if (metadata === null) {
        metadata = { ...form };
    }

    onMount(() => {
        if (metadata) {
            initialize();
        }

        if (lazyLoad) {
            doLazyLoad();
        }
    });

    const initialize = () => {
        for (const key of Object.keys(form)) {
            // merge data from DB with form default values
            form[key] = metadata[key];
        }
    };

    const doLazyLoad = () => {
        console.log("loading", lazyLoad);

        axios({
            method: "GET",
            url: `/api/file-metadata`,
            params: lazyLoad,
        })
            .then(({ data }) => {
                console.log(data.data);
                if (data.data.metadata !== null) {
                    metadata = data.data.metadata;
                    lazyLoad = null;
                    initialize();
                }
            })
            .catch((e) => {
                console.error(e);
            });
    };

    const save = () => {
        if (saveProcess.status !== "loading") {
            // normalize form (empty and undefined values are transformed to null, comma separated inputs to array)
            for (const [key, value] of Object.entries(form)) {
                if (value !== null) {
                    if (value === undefined || value.length === 0) {
                        form[key] = null;
                    } else if (
                        !Array.isArray(value) &&
                        arrayData.find((a) => a === key)
                    ) {
                        form[key] = value.split(",");
                    }
                }
            }

            scrapProcess = { status: "waiting" };
            saveProcess = { status: "loading" };

            const links =
                form.links === null
                    ? null
                    : form.links.filter(
                          (l) =>
                              l.link.trim().length > 0 &&
                              l.text.trim().length > 0
                      );

            if (form.title === null) {
                saveProcess = {
                    status: "waiting",
                    error: "Title cannot be empty",
                };
            } else {
                axios
                    .patch(`/api/file-metadata`, {
                        path: filePath,
                        ...form,
                        links: JSON.stringify(links),
                        poster: null // Do not send poster
                    })
                    .then(({ data }) => {
                        metadata = data.data;

                        if (
                            !form.clearPoster &&
                            form.shouldUploadPoster === true
                        ) {
                            uploadPoster(form.poster);
                        } else {
                            editable = false;
                            saveProcess.status = "waiting";
                        }
                    })
                    .catch((e) => {
                        console.error(e);
                        saveProcess.error = "Server error. Check logs.";
                        saveProcess.status = "waiting";
                    });
            }
        }
    };

    const setPoster = () => {
        const reader = new FileReader();

        reader.onload = (e) => {
            form.clearPoster = false;
            posterPreview = e.target.result;
            form.shouldUploadPoster = true;
        };

        reader.readAsDataURL(form.poster[0]);
    };

    const uploadPoster = (poster) => {
        const formData = new FormData();
        formData.append("poster", poster[0]);
        formData.append("path", filePath);

        axios
            .post(`/api/file-metadata/poster`, formData, {
                headers: {
                    "Content-Type": "multipart/form-data",
                },
            })
            .then(({ data }) => {
                if (data.data.status === "uploaded") {
                    editable = false;
                } else if (data.data.status === "error") {
                    saveProcess = {
                        status: "waiting",
                        type: "error",
                        text: "Unknown error",
                    };
                }
            })
            .catch(() => {
                saveProcess = {
                    status: "waiting",
                    type: "error",
                    text: "Server error",
                };
            })
            .finally(() => (saveProcess.status = "waiting"));
    };

    const isFullUrl = (url) => {
        return url.indexOf("http://") === 0 || url.indexOf("https://") === 0;
    };

    $: getPoster = () => {
        if (posterPreview) {
            return posterPreview;
        } else if (form.poster && metadata.poster) {
            if (isFullUrl(metadata.poster)) {
                return metadata.poster;
            } else {
                return `/${metadata.poster}`;
            }
        }

        return null;
    };

    const getFromWikipedia = () => {
        if (scrapProcess.status !== "loading") {
            saveProcess = { status: "waiting" };
            scrapProcess = { status: "loading" };

            if (
                form.title === null ||
                form.title === undefined ||
                form.title.trim().length === 0
            ) {
                scrapProcess = {
                    status: "waiting",
                    error: "Title cannot be empty",
                };
            } else {
                axios
                    .post(`/api/file-metadata/scrap`, {
                        url: form.title,
                        path: filePath,
                    })
                    .then(({ data }) => {
                        if (data.data.status === "error") {
                            switch (data.data.message) {
                                case "scraped_nothing":
                                    scrapProcess.error =
                                        "Could not find a Wikipedia entry for that URL.";
                                    break;
                                default:
                                    scrapProcess.error = data.data.message;
                            }
                        } else if (data.data.status === "success") {
                            metadata = data.data.data;
                            form = data.data.data;
                            editable = false;
                        }
                    })
                    .catch(() => {
                        scrapProcess.error = "Server error. Check logs.";
                    })
                    .finally(() => (scrapProcess.status = "waiting"));
            }
        }
    };
</script>

<div data-cy="metadata-area {editable ? 'editable' : 'read-only'}" class="flex gap-4 bg-gray-100 rounded-lg">
    {#if lazyLoad === null}
        {#if getPoster() || editable === true}
            <div
                class="flex-2 bg-cover bg-no-repeat bg-center w-56 rounded-l-lg flex items-center justify-center flex-col space-y-3"
                data-cy="poster"
                style={getPoster()
                    ? `background-image: url(${getPoster()})`
                    : ""}
            >
                {#if editable === true}
                    {#if getPoster() === null}
                        <p class="text-gray-500 italic">Poster</p>
                    {:else}
                        <Button
                            dataCy="remove-poster"
                            on:click={() => {
                                form.poster = null;
                                posterPreview = null;
                                form.clearPoster = true;
                                form.shouldUploadPoster = false;
                            }}
                        >
                            <span class="fa fa-times" />
                            Remove
                        </Button>
                    {/if}

                    <Button
                        dataCy="upload-poster"
                        on:click={() =>
                            document.getElementById("poster-uploader").click()}
                    >
                        <span class="fa fa-upload" />
                        Upload
                    </Button>

                    <input
                        id="poster-uploader"
                        data-cy="poster-uploader"
                        type="file"
                        class="hidden"
                        bind:files={form.poster}
                        on:change={setPoster}
                    />
                {/if}
            </div>
        {/if}

        <div class="flex-1 p-4 gap-4 max-w-full">
            {#if expanded === false}
                <h3 class="inline-block">
                    {#if editable === true}
                        <input
                            type="text"
                            class="text-2xl font-light p-1 border border-gray-500 rounded-md"
                            bind:value={form.title}
                            placeholder="Title"
                            data-cy="title-input"
                        />
                    {:else}
                        <span class="text-2xl font-light"
                            data-cy="title"
                            >{metadata?.title}</span
                        >
                    {/if}
                </h3>
            {/if}

            {#if metadata?.release_date || editable === true}
                <span
                    class="inline-block mb-1 p-1 text-xs font-bold text-gray-500 border-2 border-gray-500"
                >
                    <span class="fa fa-calendar" />
                    {#if editable === true}
                        <input
                            type="text"
                            class="p-1"
                            bind:value={form.release_date}
                            placeholder="Release date (YYYY-MM-DD)"
                            data-cy="release-date-input"
                        />
                    {:else}
                        <span
                            data-cy="release-date">{metadata.release_date}</span>
                    {/if}
                </span>
            {/if}

            {#if metadata?.language || editable === true}
                <span
                    class="inline-block mb-1 p-1 text-xs font-bold text-gray-500 border-2 border-gray-500"
                >
                    <span class="fa fa-globe" />
                    {#if editable === true}
                        <input
                            type="text"
                            class="p-1"
                            bind:value={form.language}
                            placeholder="Language"
                            data-cy="language-input"
                        />
                    {:else}
                        <span data-cy="language">{metadata.language}</span>
                    {/if}
                </span>
            {/if}

            {#if captions && captions.length > 0}
                <span
                    class="inline-block mb-1 p-1 text-xs font-bold text-gray-500 border-2 border-gray-500"
                    data-cy="captions"
                >
                    CC {captions.map((c) => c.label).join(", ")}
                </span>
            {/if}

            {#if expanded === true}
                <h3 data-cy="file-metadata-title">
                    {#if editable === true}
                        <input
                            type="text"
                            class="text-2xl font-light p-1 border border-gray-500 rounded-md w-full"
                            bind:value={form.title}
                            placeholder="Title"
                            data-cy="title-input"
                        />
                    {:else}
                        <span class="text-2xl font-light"
                            data-cy="title"
                            >{metadata?.title}</span
                        >
                    {/if}
                </h3>

                {#if Object.keys(data).find((k) => metadata[k] !== null) || editable === true}
                    <div
                        class="my-4 lg:grid gap-2 items-center file-metadata-data"
                        data-cy="data"
                    >
                        {#each Object.entries(data) as [key, obj]}
                            {#if metadata[key] || editable === true}
                                <div class="font-bold lg:text-right">
                                    {obj.label}
                                </div>
                                <div class="mr-4">
                                    {#if editable === true}
                                        <input
                                            type="text"
                                            class="p-1 border border-gray-500 rounded-md w-full"
                                            placeholder={obj.placeholder}
                                            data-cy="data-{key}-input"
                                            bind:value={form[key]}
                                        />
                                    {:else if metadata && metadata[key]}
                                        <span data-cy="data-{key}">
                                            {@html obj.transform
                                                ? obj.transform(metadata[key])
                                                : metadata[key]}
                                        </span>
                                    {/if}
                                </div>
                            {/if}
                        {/each}
                    </div>
                {/if}
            {/if}

            {#if editable === true}
                <textarea
                    data-cy="description-input"
                    class="break-words p-1 border border-gray-500 rounded-md w-full"
                    placeholder="Description"
                    bind:value={form.description}
                />
            {:else if metadata?.description}
                <div
                    data-cy="description"
                    class="break-words {expanded ? '' : 'line-clamp-3'}"
                >
                    {@html metadata.description.replace(
                        /(?:\r\n|\r|\n)/g,
                        "<br/>"
                    )}
                </div>
            {/if}

            {#if expanded === true}
                {#if metadata?.links && metadata.links.length > 0 && editable === false}
                    <div class="my-4 flex gap-2">
                        <div class="flex-2 font-bold text-right">
                            Useful links
                        </div>
                        <div data-cy="useful-links">
                            {#each metadata.links as link, i}
                                <a
                                    href={link.link}
                                    class="text-blue-500 underline"
                                    target="_blank">{link.text}</a
                                >{#if i < metadata.links.length - 1},{" "}{/if}
                            {/each}
                        </div>
                    </div>
                {/if}

                {#if editable === true}
                    <p class="font-bold mt-4">Useful links</p>
                    {#if form.links}
                        <div class="grid useful-links-editable gap-2"  data-cy="useful-links-editable">
                            {#each form.links as link, i}
                                <Button
                                    dataCy="button delete-useful-link"
                                    on:click={() => {
                                        form.links.splice(i, 1);
                                        form.links = [...form.links];
                                    }}
                                >
                                    <span class="fa fa-times" />
                                </Button>
                                <input
                                    type="text"
                                    class="border border-gray-500 rounded-md p-2"
                                    bind:value={link.text}
                                    placeholder="Text"
                                />
                                <input
                                    type="text"
                                    class="border border-gray-500 rounded-md p-2"
                                    bind:value={link.link}
                                    placeholder="Link"
                                />
                            {/each}
                        </div>
                    {/if}

                    <Button
                        moreClasses="mt-3"
                        dataCy="add-link-button"
                        on:click={() => {
                            if (!form.links) form.links = [];
                            form.links = [
                                ...form.links,
                                { link: "", text: "" },
                            ];
                        }}
                    >
                        <span class="fa fa-plus" />
                        Add link
                    </Button>
                {/if}
            {/if}

            <div class="clear-both" />

            <Button on:click={() => (expanded = !expanded)} moreClasses="mt-4" dataCy="show-more-less-button">
                {#if expanded === true}
                    <span class="fa fa-minus" />
                    Show less...
                {:else}
                    <span class="fa fa-plus" />
                    Show more...
                {/if}
            </Button>

            {#if editable === true}
                <div class="grid bottom-bar items-center mt-3">
                    {#if saveProcess.error}
                        <Alert type="error" dataCy="alert save-error">{saveProcess.error}</Alert>
                    {/if}
                    {#if scrapProcess.error}
                        <Alert type="error" dataCy="alert wikipedia-error">{scrapProcess.error}</Alert>
                    {/if}
                    <div class="text-right">
                        <Button
                            dataCy="get-from-wikipedia-button"
                            disabled={scrapProcess.status !== "waiting"}
                            on:click={getFromWikipedia}
                        >
                            {#if scrapProcess.status === "waiting"}
                                <span class="fab fa-wikipedia-w" />
                                Get from Wikipedia
                            {:else}
                                <p class="fa fa-spinner animate-spin mr-0.5" />
                                Getting...
                            {/if}
                        </Button>

                        <Button
                            dataCy="cancel-button"
                            disabled={saveProcess.status !== "waiting"}
                            on:click={() => (editable = false)}
                        >
                            <span class="fa fa-times" />
                            Cancel
                        </Button>
                        <Button
                            dataCy="save-button"
                            disabled={saveProcess.status !== "waiting"}
                            on:click={save}
                        >
                            {#if saveProcess.status === "waiting"}
                                <span class="fa fa-save" />
                                Save
                            {:else}
                                <p class="fa fa-spinner animate-spin mr-0.5" />
                                Saving...
                            {/if}
                        </Button>
                    </div>
                </div>
            {/if}
        </div>
    {:else}
        <div class="text-center w-full p-4" data-cy="loading">
            <p class="fa fa-spinner animate-spin mr-0.5" />
            Loading...
        </div>
    {/if}
</div>

<style>
    .file-metadata-data {
        grid-template-columns: max-content auto max-content auto;
    }

    .useful-links-editable {
        grid-template-columns: min-content auto auto;
    }

    .bottom-bar {
        grid-template-columns: auto max-content;
    }
</style>
